<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Contact Form Submission</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .banner {
      background: #2d202d;
      margin-bottom: 10px;
    }

    .banner img {
      max-width: 180px;
      margin-bottom: 10px;
    }

    .header {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #dddddd;
    }
    .header h1 {
      margin: 0;
      color: #333333;
    }
    .content {
      padding: 20px 0;
    }
    .content p {
      color: #555555;
      line-height: 1.6;
    }
    .content strong {
      color: #333333;
    }
    .footer {
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid #dddddd;
      color: #777777;
      font-size: 12px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="banner">
        <img src="{{'https://s3.pub1.infomaniak.cloud/object/v1/AUTH_e99c1f0a844e46a6a881da20d4f30de8/arcanastream/logo_2.webp'}}" alt="ArcanaStream Logo" style="width: 250px; display: block; margin: 10px auto;" />
    </div>
    <div class="header">
      <h1>New Contact Form Submission</h1>
    </div>
    <div class="content">
      <p>Hello,</p>
      <p>You have received a new message via the contact form from ArcanaStream. Here are the details:</p>
      <p><strong>Name:</strong> {{ name }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Subject:</strong> {{ subject }}</p>
      <p><strong>Message:</strong></p>
      <p>{{ message }}</p>
    </div>
    <div class="footer">
      <p>&copy; 2024 ArcanaStream. All rights reserved.</p>
    </div>
  </div>
</body>
</html>
