@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-blue-200;
  @apply underline;
}

nav a {
  @apply no-underline;
  @apply text-white;
}


input, textarea, select {
  @apply text-black;
  @apply border-2 border-gray-300;
}

/*custom button styles*/
.btn {
  @apply px-4 py-2 rounded-md text-white;
}

.btn-success {
  @apply bg-green-500;
}

.btn-error {
  @apply bg-red-500;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}